html, body {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: center;
    background: black;
    font-family: 'Yesteryear', cursive;
}
.bigContainer {
    width: 100%;
    background-image: url(http://arafen.com/a/f/a/a-much-larger-public-garage-can-be-entered-from-vignes-street-theres-also-four-story-underground-for-the-which-rarely-fills_underground-parking-garage-design_dream-home-plans-house-des.jpg);
    background-size: 100% 100%;
    position: fixed;
    top: 25%;
    height: 60%;
    margin: auto;
    background-color: grey;
}
.container {
    text-align: center;
    position: fixed;
    top: 70px;
    left: -80px;
    display: block;
}
.container img {
    position: fixed;
    height: 300px;
    margin: auto;
    top: 200px;
    
}
.btn-primary {
    position: relative;
    padding: 0 40px;
    display: inline;
    top: 360px;
    left: -15px;
    vertical-align: middle;
    margin: 0 20px;
    border-color: #aab2c1;
    color: white;
    background-color: Transparent;
}
.btn-primary:hover {
    background-color: black;
    border-color: white;
    
}
.headContainer{
    text-align: center;
    
}
h1 {
    position: fixed;
    top: -20;
    right: 390px;
    color: #aab2c1;
    font-size: 150px;
    text-shadow: 4px 5px white;
    font-family: 'Mr Dafoe', cursive;
}