html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #2e2f30;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

input {
    display: inline;
}
table {
    /*position: fixed;*/
    top: 200px;
    display: table;
    height: 50%;
    width: 80%;
    margin-left: 3%;
    color: white;
}
tr {
    display: table-row;
    margin:0 auto; /* this will center  it */
    /*position:relative;*/
}
td {
    text-align: center;
    height: 100px;
    width: 100px;
}
.parkingLotContainer {
    font-family: 'Ubuntu', sans-serif;
    background: #2e2f30;
    position: relative;
    top: 30%;
    width: 130%;
}
.parkingLotContainer input[type="submit"]{
    transform: rotate(90deg);
    margin-top: -4px;
}
input[type="submit"]{
    margin-right: 0;
    font-size: 12px;
    width: 90px;
    height: 70px;
    color: black;
}
td.row0, td.row2, td.row4, td.row6{
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
    border-left: 2px solid yellow;
}
td.row1, td.row3, td.row5, td.row7{
    border-top: 2px solid yellow;
    border-right: 2px solid yellow;
    border-left: 2px solid yellow;
    margin-bottom: 40px;
}
.checkout input {
    
    font-size: 25px;
    height: 100%;
    width: 100%;
    color: orange;
}
.infoDisplayContainer {
    font-family: 'Ubuntu', sans-serif;
    border: 10px solid white;
    background-color: black;
    vertical-align: middle;
    color: white;
    position: fixed;
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    /*display: block;*/
}
.leftInfoDisplay {
    position: fixed;
    left: 0;
    top: 0;
    border: 15px solid #aab2c1;
    width: 39.5%;
    height: 30%;
}
.leftInfoDisplay input[type="submit"]{
    width: 100%;
    height: 40%;
    background-color: #aab2c1;
}
.rightInfoDisplay {
    position: fixed;
    right: 0;
    top: 0;
    border: 15px solid #aab2c1;
    width: 41%;
    height: 30%;
}
.rightInfoDisplay input[type="submit"] {
    display: inline-block;
    background-color: #aab2c1;
    width: 100%;
}
.checkoutButtons input {
    display: inline;
    background-color: #aab2c1;
    width: 50%;
    height: 30%;
}
img {
    height: 180px;
}
.centerInfoDisplay {
    background-color: #aab2c1;
    height: 30%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 39.5%;
}
.confirmationPage {
    background-color: green;
}
